sentence-transformers
langchain
flask
pypdf
python-dotenv
langchain-pinecone
langchain_experimental
langchain
ipykernel
python-dotenv
langchain_community
langchain_ollama
streamlit
langchain_groq
langserve
langchain_chroma
chromadb
faiss-cpu
langchain_openai
pinecone[grpc]